<!-- Slider -->
<div id="slider">
  <div class="slides center">
    <h1>Share Knowledge. Form Connection. Start Developing</h1>
    <br />
    <br />
    <a href="https://github.com/login/oauth/authorize/?client_id={{client_id}}&redirect_uri={{callbackURL}}"><button type="button" class="btn btn-danger btn-lg">Join Now</button></a>
  </div>
</div>
<!-- End of slider -->

<div id="about">
  <div class="content center">
    <h1>About TeamSeek</h1>
    <p>We provide an awesome tool for developers to connect with other people and start working on a project that they have always wanted to complete.</p>
  </div>
</div>

<div id="cards">
  <div class="center">
    <div class="card">
      <h3 class="card-header">Featured</h3>
      <div class="card-block">
        <h4 class="card-title">Example Feature</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h3 class="card-header">Featured</h3>
      <div class="card-block">
        <h4 class="card-title">Example Feature</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h3 class="card-header">Featured</h3>
      <div class="card-block">
        <h4 class="card-title">Example Feature</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
